* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  border: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

:root {
  font-size: 10px;
}

.hidden {
  display: none;
}

p, h1, h2, h3, h4, h5, i {
  color: #222;
}

h1 {
  font-size: 4.8rem;
  font-weight: 500;
}

h2 {
  font-size: 3.2rem;
  font-weight: 500;
}

h3 {
  font-size: 2.2rem;
  font-weight: 500;
}

h4 {
  font-size: 1.6rem;
  font-weight: 500;
}

h5 {
  font-size: 1.6rem;
  font-weight: 500;
}

p {
  font-size: 1.6rem;
  font-weight: 500;
}

label {
  align-self: flex-start;
  margin: 0 0 0.8rem 0;
  color: #444;
  font-size: 1.6rem;
  font-weight: 500;
}

input, select, textarea {
  height: 3.6rem;
  width: 28rem;
  padding: 0 0.8rem;
  border-radius: 0.4rem;
  color: #222;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: white;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
}
input:focus, select:focus, textarea:focus {
  outline: #5c5c5c 2px solid;
}
input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
  color: #9c9c9c;
}
input::placeholder, select::placeholder, textarea::placeholder {
  color: #9c9c9c;
}
input[type=checkbox], select[type=checkbox], textarea[type=checkbox] {
  height: 1.6rem;
  width: 1.6rem;
  outline: none;
}
input[type=submit], select[type=submit], textarea[type=submit] {
  background-color: #ff4e4e;
}
input[type=submit]:hover, select[type=submit]:hover, textarea[type=submit]:hover {
  background-color: #ff7b7b;
  cursor: pointer;
}

textarea {
  resize: none;
  padding: 0.8rem 0.8rem;
}

button {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: #565555;
  cursor: pointer;
}
button:focus {
  outline: #5c5c5c 2px solid;
}
button::-moz-placeholder {
  color: #9c9c9c;
}
button::placeholder {
  color: #9c9c9c;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: calc(100vw - 10rem);
  margin-left: 10rem;
  background-color: #e1e1e1;
  margin-bottom: 0;
}

section.section-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

div.wrapper {
  width: 60%;
  margin: 0 auto;
}
div.wrapper.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}
div.wrapper.flex.collum {
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  main {
    min-height: calc(100vh - 7rem);
    width: 100vw;
    margin-left: 0;
    margin-bottom: 7rem;
  }
}
/*
code order {

    display and its properties;

    size;

    padding;
    margin;
    outline, border and border-radius;

    fonts and its properties [font, color, font-size, font-weight];

    background-color;
    filters and shadow;

    transition and animations;
}
*/
div.title-block {
  margin-bottom: 2rem;
  padding: 1rem 0;
  background-color: #ff4e4e;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
}
div.title-block h1 {
  text-align: center;
  color: #222;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  position: fixed;
  bottom: 0;
  height: 6.4rem;
  width: 100vw;
  background-color: #ff4e4e;
}
footer p {
  color: #222;
  font-size: 1.6rem;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  footer {
    gap: 3rem;
    height: 4rem;
  }
  footer p {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=PageSections.css.map */