* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  border: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  transition: ease-in-out 0.2s;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

:root {
  font-size: 10px;
}

.hidden {
  display: none;
}

h1 {
  font-size: 4.8rem;
  font-weight: 500;
}

h2 {
  font-size: 3.6rem;
  font-weight: 500;
}

h3 {
  font-size: 2.2rem;
  font-weight: 500;
}

h4 {
  font-size: 1.6rem;
  font-weight: 500;
}

h5 {
  font-size: 1.6rem;
  font-weight: 500;
}

/*

code order {

    display and its properties;

    size;

    padding;
    margin;
    outline, border and border-radius;

    fonts and its properties [font, color, font-size, font-weight];

    background-color;
    filters and shadow;

    transition and animations;

}

*/
div.title-block {
  margin-bottom: 2rem;
  padding: 1rem 0;
  background-color: #ff4e4e;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
}
div.title-block h1 {
  text-align: center;
  color: #222;
}

form {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 0 auto;
}
form section h2 {
  padding: 1rem 2rem;
  color: #222;
}
form section div.block-box {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}
form section div.block-box label {
  align-self: flex-start;
  margin: 0 0 0.8rem 0;
  color: #444;
  font-size: 1.6rem;
  font-weight: 500;
}
form section div.block-box input, form section div.block-box select, form section div.block-box textarea {
  height: 3.6rem;
  width: 30rem;
  padding: 0 0.8rem;
  border-radius: 0.4rem;
  color: #222;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: white;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  transition: none;
}
form section div.block-box input:focus, form section div.block-box select:focus, form section div.block-box textarea:focus {
  outline: #5c5c5c 2px solid;
}
form section div.block-box input::-moz-placeholder, form section div.block-box select::-moz-placeholder, form section div.block-box textarea::-moz-placeholder {
  color: #9c9c9c;
}
form section div.block-box input::placeholder, form section div.block-box select::placeholder, form section div.block-box textarea::placeholder {
  color: #9c9c9c;
}
form section div.block-box input[type=checkbox], form section div.block-box select[type=checkbox], form section div.block-box textarea[type=checkbox] {
  height: 1.6rem;
  width: 1.6rem;
  outline: none;
}
form section div.block-box input[type=submit], form section div.block-box select[type=submit], form section div.block-box textarea[type=submit] {
  margin-top: 2.4rem;
  background-color: #ff4e4e;
}
form section div.block-box input[type=submit]:hover, form section div.block-box select[type=submit]:hover, form section div.block-box textarea[type=submit]:hover {
  background-color: #ff5e5e;
  cursor: pointer;
}
form section div.block-box textarea {
  resize: none;
  height: 12.4rem;
  padding: 0.8rem 0.8rem;
}
form section div.block-box button {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  background-color: #5c5c5c;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  transition: none;
}
form section div.block-box button:hover {
  background-color: #565555;
  cursor: pointer;
}
form section div.block-box button:focus {
  outline: #5c5c5c 2px solid;
}
form section div.block-box button::-moz-placeholder {
  color: #9c9c9c;
}
form section div.block-box button::placeholder {
  color: #9c9c9c;
}

@media screen and (max-width: 600px) {
  div.title-block {
    padding: 1rem 0;
    margin-bottom: 1rem;
  }
  div.title-block h1 {
    text-align: center;
    color: #222;
  }
  form {
    flex-direction: column;
    width: 100vw;
  }
  form section {
    margin-bottom: 2rem;
  }
  form section div.block-box {
    padding: 1rem 2rem;
  }
  form section div.block-box:last-of-type {
    padding: 0, 2rem;
  }
  form section div.block-box input[type=submit] {
    margin-top: 0;
    margin-bottom: 2.4rem;
  }
}/*# sourceMappingURL=FormBlocks.css.map */