*{margin:0;padding:0;text-decoration:none;color:black;border:none;box-sizing:border-box; font-family:Arial, Helvetica, sans-serif; font-family: "Poppins", sans-serif;font-style: normal;}
:root{font-size: 10px;}
.hidden{display: none;}

// colors
$color-primary:         #ff4e4e;
$color-primary-hover:   #ff7b7b;
$color-primary-light:   #ffcdcd;
$color-secondary:       #5c5c5c;
$color-secondary-hover: #565555;
$color-light:           #e1e1e1;
$color-lighter:         #F2F4F5;
$color-dark:            #444;
$color-darker:          #222;
$color-shadow:          rgba(0, 0, 0, 0.200);
$color-border: #E0E2E6;

$color-input-background:  white;
$color-input-placeholder: #9c9c9c;

// label
$label-margin: 0 0 .8rem 0;

// input
$input-padding: .8rem;
$input-height: 3.6rem;
$input-width: 28rem;

// textarea
$textarea-height: calc($input-height*4);

// checkbox
$checkbox-size: 1.6rem;

// button
$button-size: 3.2rem;

// borders
$border-radius: .4rem;

// navbar
$desktop-navbar-width: 10rem;
$mobile-navbar-height: 7rem;

// font-size and font-weight
$fontsize-h1:      4.8rem;
$fontsize-h2:      3.2rem;
$fontsize-h3:      2.2rem;
$fontsize-h4:      1.6rem;
$fontsize-h5:      1.6rem;
$fontsize-p:       1.6rem;
$fontsize-label:   1.6rem;
$fontsize-input:   1.4rem;
$fontweight-h1:    500;
$fontweight-h2:    500;
$fontweight-h3:    500;
$fontweight-h4:    500;
$fontweight-h5:    500;
$fontweight-p:     500;
$fontweight-label: 500;
$fontweight-input: 500;

// wrapper-flex
$wrapper-flex-padding:       2rem;
$wrapper-flex-border-radius: 2rem;

// sections
$section-title-padding : 2rem;
$section-content-padding : 2rem;

p, h1, h2, h3, h4, h5, i {
    color: $color-darker;
}

// text
h1{font-size: $fontsize-h1; font-weight: $fontweight-h1;}
h2{font-size: $fontsize-h2; font-weight: $fontweight-h2;}
h3{font-size: $fontsize-h3; font-weight: $fontweight-h3;}
h4{font-size: $fontsize-h4; font-weight: $fontweight-h4;}
h5{font-size: $fontsize-h5; font-weight: $fontweight-h5;}
p {font-size: $fontsize-p;  font-weight: $fontweight-p;}
//

label {
    align-self:flex-start;
    
    margin: $label-margin;
    
    color: $color-dark;
    font-size: $fontsize-label;
    font-weight: $fontweight-label;
}

input, select, textarea {
    height: $input-height;
    width:  $input-width;
    
    padding: 0 $input-padding;
    border-radius: $border-radius;
    
    color: $color-darker;
    font-size: $fontsize-input;
    font-weight: $fontweight-input;
    
    background-color: $color-input-background;
    box-shadow: 0 0 .4rem $color-shadow;

    &:focus {
        outline: $color-secondary 2px solid;
    }
    &::placeholder {
        color: $color-input-placeholder;
    }
    &[type="checkbox"] {
        height: $checkbox-size;
        width:  $checkbox-size;
        
        outline: none;
    }
    &[type="submit"] {
        background-color: $color-primary;
        
        &:hover {
            background-color: $color-primary-hover;
            cursor: pointer;
        }
    }
}

textarea {
    resize: none;
    padding: .8rem $input-padding
}

button {
    width:  $button-size;
    height: $button-size;
    
    border-radius: $border-radius;
    
    color: white;
    font-size: $fontsize-input;
    font-weight: $fontweight-input;
    box-shadow: 0 0 .4rem $color-shadow;

    &:hover {
        background-color: $color-secondary-hover;
        cursor: pointer;
    }
    &:focus {
        outline: $color-secondary 2px solid;
    }
    &::placeholder {
        color: $color-input-placeholder;
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: calc(100vw - $desktop-navbar-width);
    margin-left: $desktop-navbar-width;

    background-color: $color-light;
    margin-bottom: 0;
}

section {
    &.section-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
}

div {
    &.wrapper {
        width: 60%;
        margin: 0 auto;

        &.flex {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8rem;

            &.collum {
                flex-direction: column;
            }
        }
    }
}    

@media screen and (max-width: 600px) {
    main {
        min-height: calc(100vh - $mobile-navbar-height);
        width: 100vw;
        margin-left: 0;
        margin-bottom: $mobile-navbar-height;
    }
}
/*
code order {

    display and its properties;

    size;

    padding;
    margin;
    outline, border and border-radius;

    fonts and its properties [font, color, font-size, font-weight];

    background-color;
    filters and shadow;

    transition and animations;
}
*/